# Server Configuration
API_PORT=number

# Swagger Configuration
SWAGGER_VERSION=string
SWAGGER_TITLE=string
SWAGGER_DESCRIPTION=string
SWAGGER_TAG=string
SWAGGER_DOCS=string

# JSON Web Token Service
JWT_ACCESS_SECRET=string
JWT_REFRESH_SECRET=string
JWT_ACCESS_EXPIRES_IN=number
JWT_REFRESH_EXPIRES_IN=number

# Redis Configuration
REDIS_HOST=string
REDIS_PORT=number
REDIS_PASSWORD=string
SQL_REDIS_CACHE_TTL=number

# Database Configuration
DATABASE_NAME=string
DATABASE_PASSWORD=string
DATABASE_PORT=number
DATABASE_USERNAME=string
DATABASE_HOST=string
DATABASE_SYNCHRONIZE=boolean
DATABASE_POSTGRES_PASSWORD=string
